


/************************************
  header style
  ***********************************/
#logo {
  width: 65px;
  margin: 10px;
  padding-left: 20px;
}

#logo-text {
  margin-top: -80px;
  margin-left: 100px;
  color: #f79020;
  font-size: 3rem;
}

#bracket {
  color: black;
}

header{
  border-bottom: solid 1px black;
}

/************************************
  top nav styles
  ***********************************/

.nav-item {
  border: 1px solid black;
  width: 175px;
  list-style-type: none;
  display: inline-block;
  height: 60px;
  margin: 5px;
}

.nav-title {
  margin-top: -45px;
  margin-left: 75px;
  color: #f79020;
}

.nav-img {
  margin: 5px;
}
